.topic {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 2px solid black;
  border-radius: 20px;

  min-height: 100px;

  background-color: #cbc7f0;
}

.topic a,
.topic p {
  font-size: 14px;
  font-family: "Mulish", sans-serif;

  text-decoration: none;
  color: black;
}

.topic_group {
  margin-bottom: 60px;
}

.comment_l {
  padding-left: 20px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 2px solid black;
  border-radius: 20px 0 0 20px;

  min-height: 100px;

  background-color: #cbc7f0;
}

.comment_r {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 2px solid black;
  border-left: none;
  border-radius: 0px 20px 20px 0;

  min-height: 100px;

  background-color: #cbc7f0;
}

.img_comment {
  width: 100px;
  border-radius: 100px;
  border: 1px solid black;
}
