.nav {
  background-color: #cc9c80;
}

.nav_btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
}

.nav_btn_blue {
  background-color: #f7f0e7;
}
.nav_btn_red {
  background-color: #ce7171;
}
