.form_input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50px;
  justify-content: center;
}

.form_not_connected {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.form_btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  background-color: #cc8080;
}
