.form_change_account_type_btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  background-color: #ce7171;
}

.form_change_account_type_label {
  margin: 10px;
  padding: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
